.warna-merah{
  color:red;
  font-size:54px;
}
#warna-ijo{
  color:green;
  font-size:4em;
}

#flex-center{
  display: flex;
  align-items:center;
  justify-content:center;
}

.height-carousel{
  height: 500px;
}